<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="AxlEli"
            id="BSBuilder">
      </category>
      <wizard
            name="Backbone Enabled Page"
            icon="icons/sample.gif"
            category="BSBuilder"
            class="bsbuilder.wizards.backbone.BackbonePageNewWizard"
            id="bsbuilder.wizards.backbone.BackbonePageNewWizard">
      </wizard>
      <wizard
            category="BSBuilder"
            class="bsbuilder.wizards.site.NewBackboneSpringProjectWizard"
            icon="icons/sample.gif"
            id="bsbuilder.wizards.site.NewBackboneSpringProjectWizard"
            name="Spring Backbone Project Wizard"
            project="true">
      </wizard>
      <wizard
            name="Backbone Model Page"
            icon="icons/sample.gif"
            category="BSBuilder"
            class="bsbuilder.wizards.backbone.BackboneNewModelWizard"
            id="bsbuilder.wizards.backbone.BackboneNewModelWizard">
      </wizard>
   </extension>
   
   <!--This is for adding more Models outside of the main project wizard -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            id="Oleng2.contribution1">
         <menu
               label="BSBuilder"
               path="additions"
               id="Oleng2.menu1">
            <separator name="group1"> </separator>
            <separator name="group2"> </separator>
         </menu>
         <action
               label="Add New Model.."
               class="bsbuilder.wizards.backbone.actions.AddNewModelAction"
               menubarPath="Oleng2.menu1/group1"
               enablesFor="1"
               id="Oleng2.newAction">
         </action>
         <action
               label="Add New Presenter.."
               class="bsbuilder.wizards.backbone.actions.AddNewPresenterAction"
               menubarPath="Oleng2.menu1/group2"
               enablesFor="1"
               id="Oleng2.newPresenter">
         </action>
         <action
               label="Add New Wizard-Type Presenter.."
               class="bsbuilder.wizards.backbone.actions.AddNewWizardTypePresenterAction"
               menubarPath="Oleng2.menu1/group3"
               enablesFor="1"
               id="Oleng2.newWizardTypePresenter">
         </action>
         <!--action
               label="Add Third Party JS Lib"
               class="bsbuilder.wizards.backbone.actions.AddNewJSLibAction"
               menubarPath="Oleng2.menu1/group2"
               enablesFor="1"
               id="Oleng2.newJSLib">
         </action-->
      </objectContribution>
   </extension>

</plugin>
