
<div class="row">
	<div class="col-md-12" id="operationMessage"></div>
</div>
<div class="row">
			<div class="form-group">
			<label  for="id">id</label>
						<input type="text" class="form-control"  id="id" name='id' value="{{=id}}"/>
					</div>
			<div class="form-group">
			<label  for="sentimentText">sentimentText</label>
						<textarea rows="4" cols="60" class="form-control"  id="sentimentText" name='sentimentText'>{{=sentimentText}}</textarea>
					</div>
			<div class="form-group">
			<label  for="sentimentResult">sentimentResult</label>
						<textarea rows="4" cols="60" class="form-control"  id="sentimentResult" name='sentimentResult'>{{=sentimentResult}}</textarea>
					</div>
	</div>
<div class="row">
	<div class="col-md-12">
		<input type="button" class="btn btn-primary" id="saveSentiment" value="Save" />
		<input type="button" class="btn btn-primary" id="saveNewSentiment" value="Save New" />
	</div>
</div>